%h1 Listing Smtp Settings

%table
  %tr
    %th User name
    %th Password
    %th Address
    %th Port
    %th Domain
    %th Authentication
    %th
    %th
    %th
    %th
      Activate :
      = select_tag 'SMTP_setting',  options_from_collection_for_select(@email_smtp_settings, "id", "domain")

  - @email_smtp_settings.each do |email_smtp_setting|
    %tr
      %td= email_smtp_setting.user_name
      %td= email_smtp_setting.password
      %td= email_smtp_setting.address
      %td= email_smtp_setting.port
      %td= email_smtp_setting.domain
      %td= email_smtp_setting.authentication
      %td= link_to 'Show', email_smtp_setting
      %td= link_to 'Edit', edit_email_smtp_setting_path(email_smtp_setting)
      %td= link_to 'Destroy', email_smtp_setting, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Email smtp setting', new_email_smtp_setting_path

:javascript
  $(document).ready(function() {
      $('#SMTP_setting').change(function() {
          var val = $(this).val();
          alert(val);
          console.log(val);
          $.ajax({
           url:"#{activate_smtp_email_smtp_settings_url}",
           dataType: "script",
           data: {"setting_id": val},
           type: "get",
           success: function(){
            console.log("here===============");
           },
           error: function(){
            console.log("error================");
           }
          });
          //alert(val);
          //$('option[value=' + val + ']', this).val('changed');
      });
  });
