<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
  <h2 class="form-signin-heading">Sign in</h2>
  <div>
  <%= f.email_field :email, :autofocus => true ,:placeholder => "Email address", :class => 'input-block-level'%></div>

  <div>
  <%= f.password_field :password , :placeholder => "Password", :class => 'input-block-level'%></div>

  <% if devise_mapping.rememberable? -%>
    <div>
      <%= f.check_box :remember_me, :style=>"float:left" %>
      <%= f.label :remember_me , :class => 'checkbox', :style=>"float:left"%>
      <div style="clear: botho"></div>
    </div> <br/>
  <% end -%>

  <div><%= f.submit "Sign in", :class => 'btn btn-large btn-primary' %></div>
  <%= render "devise/shared/links" %>
<% end %>


