= form_for @email , :html => { :multipart => true }do |f|
  - if @email.errors.any?
    #error_explanation
      %h2= "#{pluralize(@email.errors.count, "error")} prohibited this email from being saved:"
      %ul
        - @email.errors.full_messages.each do |msg|
          %li= msg

  .field

    = f.hidden_field :sender_id, :value => current_user.id
  .field
    = f.label :email_to
    = f.email_field :email_to
  .field

    = f.label :bcc
    %div
      Please add bcc address seperated by comma(,)
    = f.text_field :bcc

  .field
    = f.hidden_field :email_from, :value => current_user.email
  .field
    = f.file_field  :email_attachment
  %div{:style => "width:100%"}
    = f.label :email_subject
    = f.text_area :email_subject,  :cols => 20, :rows => 1
  .field
    = f.label :email_body
    = f.text_area :email_body

    
  .actions
    = f.submit 'Save'

  %script
    $(function()
    {CKEDITOR.replace( 'email_email_body' );CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR; });

-#:javascript
-#  $(function(){
-#      $('#email_email_body').ckeditor({
-#             toolbar: 'Full',
-#             enterMode : CKEDITOR.ENTER_BR,
-#             shiftEnterMode: CKEDITOR.ENTER_P
-#      });
-#  });