%h1 Listing emails
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Sender
    %th Email to
    %th Email from
    %th Email subject
    %th Email body
    %th{:colspan => "3"}
      Action

  - @emails.each do |email|
    %tr
      %td= email.sender_id
      %td= email.email_to
      %td= email.email_from
      %td= email.email_subject
      %td= email.email_body
      %td= link_to 'Show', email, :class => "btn btn-info dropdown-toggle"
      %td= link_to 'Edit', edit_email_path(email) , :class => "btn btn-info dropdown-toggle"
      %td= link_to 'Destroy', email, :method => :delete, :data => { :confirm => 'Are you sure?' } , :class => "btn btn-danger dropdown-toggle"

%br

= link_to 'New Email', new_email_path, :class => "btn btn-success dropdown-toggle"
